/* Universal Selector */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }

Img[alt="Logo"] {
    cursor: pointer;
    width:5rem;
    aspect-ratio: 1/1;  
}

footer{
    margin-top: 210px;
    background-color:  #36454f
    
}
body{
    background-color: black;
    color: aliceblue;
}



/* Home Content */
.Name {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    margin-top: 170px;
  }
  .Name span {
    font-family: 'Alfa Slab One', cursive;
    color: aliceblue;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: Name 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes Name  {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
    

  }

  


  /* About Content */
  .card{
    
    width: 200px;

  }
  
  
  